.New-Article-Box{
  background-image: url("../styles/blue_green_background_image.png");
  background-color: black;
  background-size: 100%;
  background-repeat: round;
  padding: 2em 0 2em 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  text-align: left;
  justify-content: center;
}

.Form-Wrapper{
  background-color: white;
  border-radius: 5px;
  color: black;
  border-color: white;
  width: 500px;
  height: 330px;
  margin: 0em;
  padding: 0.2em;
}

.New-Article-Form{
  border-radius: 5px;
  border-color: white;
  background-color: black;
  color: white;
  padding: 2em;
}

.Delete-Page-Button{
  color: white;
  background-color: black;
  font-size: 0.7em;
  border-radius: 5px;
  width: 80px;
  height: 20px;
  text-align: center;
  margin-left: 1.5em;
}

.Edit-Author-Title{
  color: navy;
  font-weight: bold;
}

.Author-Box{
  border-radius: 5px;
  border-color: white;
  background-color: black;
  color: white;
  padding: 2em;
}

.Author-List-And-New_Form{
  background-image: url("../styles/blue_green_background_image.png");
}
