* {
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue, Helvetica,Arial,sans-serif;
}

.Darker-Blue-BG{
  background-color: #51A3CB;
}

.Medium-Blue-BG{
  background-color: #66CDFF;
}

.Lighter-Blue-BG{
  background-color: #DBF2FF;
}

.Solid-Black-Border {
  border-color: black;
  border-width: 0.1em;
  border-style: solid;
}

/* .Solid-Black-Border-Curved {
  border-style: solid;
  border-width: 0.1em;
  border-color: black;
  border-radius: 0.5em;
} */

.Header-Footer{
  display: flex;
  text-align: center;
  align-items: center;
  height: 7em;
}

.Header-Image{
object-fit: cover;
width: 110px;
height: 100px;
padding-left: 35%;
margin: 0;
}

.Header-Text{
  text-align: left;
  color: black;
  font-size: 7vw;
  font-weight: 700;
  margin-left: -20px;
}

.Footer-Text{
  text-align: center;
  width: 100%;
  font-size: 0.5em;
}

.NavBar{
  /* background-image: url("../styles/nav_bar_background.png"); */
  background-color: black;
  display: flex;
  justify-content: flex-end;
  height: 3em;
  width: 100%;
  border-top-color: #4286f4;
  border-bottom-color: #4286f4;
  border-width: 0.5px;
}

.NavBar-Button{
background-color: black;
color: white;
width: 10em;
height: 3em;
margin: 0em 0em 0em 0em;
font-size: 1em;
font-weight: 500;
border-top-color: black;
border-left-color: #4286f4;
border-right-color: #4286f4;
border-bottom-color: #4286f4;
border-width: 0.5px;
}

.NavBar-Button:hover{
  border-width: 0.2em;
  border-color: #4286f4;
}
