* {
  margin: 0;
  padding: 0;
  font-family: verdana;
}

.Darker-Blue-BG{
  background-color: #51A3CB;
}

.Medium-Blue-BG{
  background-color: #66CDFF;
}

.Lighter-Blue-BG{
  background-color: #DBF2FF;
}

.Solid-Black-Border {
  border-color: black;
  border-width: 0.1em;
  border-style: solid;
}

.Solid-Black-Border-Curved {
border-style: solid;
border-width: 0.1em;
border-color: black;
border-radius: 0.5em;
}

.Header-Footer{
  display: flex;
  text-align: center;
  align-items: center;
  height: 7em;
}

.Header-Image{
height: 90%;
margin: 0;
}

.Header-Text{
  width: 75%;
  padding-left: 15%;
  text-align: justify;
  color: white;
  font-size: 3em;
  font-weight: 500;
}

.NavBar{
  display: flex;
  justify-content: flex-end;
  height: 3em;
}

.NavBar-Button{
width: 10em;
height: 2em;
margin: 0.5em 1em 0.5em 1em;
font-size: 1em;
font-weight: 500;
}

.NavBar-Button:hover{
  border-width: 0.2em;
  border-color: #51A3CB;
}
