.Landing-Page-Article-List{
  background-image: url("../styles/blue_green_background_image.png");
  /* https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/EbyCIUQPl/videoblocks-explosion-of-blue-powder-on-black-background-3d-animation-of-particles-as-colorful-background-or-overlays-for-effects-burst-of-colorful-paint-powder-for-bright-presentation-like-holi-festival-1_rtgfeuk3um_thumbnail-full05.png */
/* background-image: url("https://i.pinimg.com/originals/e0/96/0d/e0960d26aec1c5e4a2a556ac99640533.jpg"); */
background-size: 100%;
background-repeat: round;
padding: 2em 0 2em 0;
display: flex;
flex-wrap: wrap;
}

.Landing-Page-Article{
  background-image: radial-gradient(white, rgb(214, 237, 247));
  border-width: 0.2em !important;
  margin: 0 2em 2em 2em;
  box-shadow: 0.25em 0.25em rgb(171, 170, 170);
  width: 20%;
  min-width: 150px;
}

.Landing-Page-Article:hover{
  border-width: 0.4em;
  border-color: #51A3CB;
}

.Landing-Page-Article, h3, h5, p, img, .Landing-Page-Article-Keywords, button {
    margin: 2vw;
}

.Landing-Page-Article:first-child{
  content: "New!";
  width: 40%;
  border-width: 0.6em !important;
  border-color: rgb(147, 203, 107);
}

.Landing-Page-Article-Headline{
  font-size: 1em;
  font-weight: bold;
}

.Landing-Page-Article-Author{
  font-size: 0.7em;
  font-weight: bold;
}

.Landing-Page-Article-Content{
  font-size: 0.7em;
}

.Landing-Page-Article-Image{
  height: 100px;
  width: 100px;
}

.Landing-Page-Article-Image:hover{
  height: 300px;
  width: 300px;
}

.Landing-Page-Article-Keywords{
  display: flex;
  flex-wrap: wrap;
}

.Landing-Page-Keyword {
padding: 0.2em;
margin: 0.2em;
color: black;
background-image: linear-gradient(to left, rgb(230, 64, 238), rgb(254, 251, 0));
background-attachment: fixed;
font-size: 0.7em;
}

.Landing-Page-Read-More-Button {
color: black;
background-image: linear-gradient(to left, rgb(230, 64, 238), rgb(254, 251, 0));
background-attachment: fixed;
font-size: 0.7em;
}

.Landing-Page-Keyword:hover{
  border-color: #51A3CB;
}
