.Single-Article-Page-Article{
  background-image: radial-gradient(white, rgb(214, 237, 247));
  border-width: 0.2em !important;
  margin: 0 2em 2em 2em;
  box-shadow: 0.25em 0.25em rgb(171, 170, 170);
  width: 90%;
  min-width: 150px;
}

.Single-Article-Page-Article:hover{
  border-width: 0.4em;
  border-color: #51A3CB;
}

.Single-Article-Page-Article, h3, h5, p, img, .Single-Article-Page-Article-Keywords, button {
    margin: 2vw;
}

.Single-Article-Page-Article-Headline{
  font-size: 1em;
  font-weight: bold;
}

.Single-Article-Page-Article-Author{
  font-size: 0.7em;
  font-weight: bold;
}

.Single-Article-Page-Article-Content{
  font-size: 0.7em;
}

.Single-Article-Page-Article-Image{
  height: 100px;
  width: 100px;
}

.Single-Article-Page-Article-Image:hover{
  height: 300px;
  width: 300px;
}

.Single-Article-Page-Article-Keywords{
  display: flex;
  flex-wrap: wrap;
}

.Single-Article-Page-Keyword {
padding: 0.2em;
margin: 0.2em;
color: black;
background-image: linear-gradient(to left, rgb(230, 64, 238), rgb(254, 251, 0));
background-attachment: fixed;
font-size: 0.7em;
}

.Single-Article-Page-Keyword:hover{
  border-color: #51A3CB;
}
