.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* added css */

* {
  margin: 0;
  padding: 0;
}

.Header{
  background-color: #51A3CB;
  display: flex;
  text-align: center;
  align-items: center;
  height: 7em;
}

.Header-Image{
  margin: 2em 0 2em -0em;
  width: 25%;
}

.Header-Text{
  position: relative;
  right: 10%;
  margin-left: -0em;
  color: white;
  font-family: verdana;
  font-size: 3em;
  font-weight: 500;
  width: 75%;
}

.NavBar{
  border-color: black;
  border-width: 0.1em;
  border-style: solid;
  height: 3em;
  display: flex;
  justify-content: flex-end;
}

.NavBar-Button{
background-color: #DBF2FF;
border-style: solid;
border-width: 0.1em;
border-color: black;
border-radius: 0.5em;
font-family: verdana;
font-size: 1em;
font-weight: 500;
width: 10em;
margin: 0.5em 1em 0.5em 1em;
height: 2em;
}

.NavBar-Button:hover{
  border-style: solid;
  border-width: 0.2em;
  border-color: #51A3CB;
  border-radius: 0.5em;
}

.Article-List{
background-color: #DBF2FF;
padding: 2em 0 2em 0;
}

.Article{
  background-color: white;
  border-style: solid;
  border-width: 0.2em;
  border-color: black;
  border-radius: 0.5em;
  margin: 0 2em 2em 2em;
  box-shadow: 0.25em 0.25em rgb(171, 170, 170);
}

.Article:hover{
  border-style: solid;
  border-width: 0.2em;
  border-color: #51A3CB;
  border-radius: 0.5em;
}

.Article, h3, h5, p, img {
    margin: 2vw;
}

.Article-Headline{
  font-family: verdana;
  font-size: 1em;
  font-weight: bold;
}

.Article-Author{
  font-family: verdana;
  font-size: 0.7em;
  font-weight: bold;
}

.Article-Image{
  height: 100px;
  width: 100px;
}

.Article-Image:hover{
  height: 300px;
  width: 300px;
}

.Article-Keywords{
  display: flex;
  flex-wrap: wrap;
}

.Keyword {
background-color: #66CDFF;
border-style: solid;
border-width: 0.1em;
border-color: black;
border-radius: 0.5em;
padding: 0.3em;
color: white;
}

.Keyword:hover{
  border-style: solid;
  border-width: 0.1em;
  border-color: #51A3CB;
  border-radius: 0.5em;
}

.Footer{
  background-color: #51A3CB;
  height: 7em;
  border-top-style: solid;
  border-top-width: 0.1em;
  border-top-color: black;
}
